DATABASE_USER="your username goes here"
DATABASE_PASSWORD="your password goes here"
DATABASE_PORT="the database port goes here"
DATABASE_NAME="the database name goes here"
SECRET_KEY="the secret jey for the JWT encryption"
ADMIN_USERNAME="the admin username goes here"
ADMIN_PASSWORD="the admin password goes here"